.TestimonialSection {
    background-color: #f9fbfe;
    font-family: "roboto";
}

.TestimonialSection-logo-name {
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}

.TestimonialSection-logs-and-name-container {
    display: flex;
}

.TestimonialSection-head {
    color: #000000;
    font-family: "Roboto";
    font-size: 34px;
    font-weight: bold;
    margin: 24px;
}


.TestimonialSection-card {
    text-align: center;
    border-radius: 8px;
    padding: 24px;
    margin-top: 20px
  }
  
  .TestimonialSection-card-image {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
  }
  
  .TestimonialSection-card-head {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
  }
  
  .TestimonialSection-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 17px;
  

  }
